.picture{
    height: calc(100px + 1em);
    width: 400px;
  margin-bottom: 1em;
  padding: 5px;
  background: rgb(86, 89, 93);
  border-radius: 2px;
}
#picture img {
    width: 100%;
    height: 100%;
  }